<div class='centerplease text-center'>
    FAQ
</div>
<br>

<div class="content">
    <div>
        <input type="checkbox" id="question1" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question1" class="question">
            Question 1
        </label>
        <div class="answers">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, nisi. Quidem id doloremque placeat aliquid
            cum qui perspiciatis eligendi nihil ducimus exercitationem inventore tenetur quod, non repudiandae autem
            itaque impedit. </div>
    </div>

    <div>
        <input type="checkbox" id="question2" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question2" class="question">
            Question 2
        </label>
        <div class="answers">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui repellendus assumenda, molestiae repellat
            magni nisi sit, velit natus et id ratione doloribus ullam consequatur optio at excepturi in, quidem
            possimus!!
        </div>
    </div>

    <div>
        <input type="checkbox" id="question3" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question3" class="question">
            Question 3
        </label>
        <div class="answers">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum atque nam ipsa obcaecati ducimus, velit,
            saepe blanditiis illum et quod fugit consequatur ex. Eius, qui. Impedit ratione molestias adipisci modi?
        </div>
    </div>

    <div>
        <input type="checkbox" id="question4" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question4" class="question">
            Question 4
        </label>
        <div class="answers">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum atque nam ipsa obcaecati ducimus, velit,
            saepe blanditiis illum et quod fugit consequatur ex. Eius, qui. Impedit ratione molestias adipisci modi?
        </div>
    </div>
    <div>
        <input type="checkbox" id="question5" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question5" class="question">
            Question 5
        </label>
        <div class="answers">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum atque nam ipsa obcaecati ducimus, velit,
            saepe blanditiis illum et quod fugit consequatur ex. Eius, qui. Impedit ratione molestias adipisci modi?
        </div>
    </div>
    <div>
        <input type="checkbox" id="question6" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question6" class="question">
            Question 6
        </label>
        <div class="answers">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum atque nam ipsa obcaecati ducimus, velit,
            saepe blanditiis illum et quod fugit consequatur ex. Eius, qui. Impedit ratione molestias adipisci modi?
        </div>
    </div>
    
</div>
<app-footer></app-footer> 