  <!-- Site footer -->
  <br>
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6 class='color'>About</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam neque quidem nam aliquid vero reiciendis exercitationem, enim eius autem obcaecati beatae sapiente numquam modi, consequuntur placeat optio minima ipsum eligendi!</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a >Meal 1</a></li>
            <li><a >Meal 2</a></li>
            <li><a >Meal 3</a></li>
            <li><a >Meal 4</a></li>
            <li><a >Meal 5</a></li>
            <li><a >Meal 6</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a routerLink="/shopping-list">Shopping List</a></li>
            <li><a routerLink="/faq">FAQS</a></li>
            <li><a >Contribute</a></li>
            <li><a >Privacy Policy</a></li>
            <li><a >Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved  
       
          </p>
        </div>

        
      </div>
    </div>
</footer>