
<div class="conatiner-fluid pt-2 fontDesign">
   
<div class="shell">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img">
                        <img src="../../../assets/peronalE.jpg" class="img-responsive" />
                    </div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span class="small font-italic text-uppercase ">Cusine-1</span>
                        </div>
                     <div class="title-product font italic text-muted small">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem excepturi sapiente quia ullam aut voluptas vel aliquid architecto. Omnis nam deleniti optio maxime amet quis libero accusamus aliquid quod eaque!</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img">
                        <img src="../../../assets/sports.jpg" class="img-responsive" />
                    </div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span class="small font-italic text-uppercase ">Cusine-2</span>
                        </div>
                     
                        <div class="title-product font italic text-muted small">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, temporibus dolorem nesciunt praesentium facilis illo voluptatibus ducimus harum dolores aperiam corporis consectetur maxime cupiditate, repudiandae libero, </p>
                        </div>

                    </div>
                </div>
            </div>

            

            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img">
                        <img src="../../../assets/meet.jfif" class="img-responsive" />
                    </div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span class="small font-italic text-uppercase ">Cusine-3</span>
                        </div>
                      
                        <div class="title-product font italic text-muted small">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae beatae, delectus nihil velit placeat error laboriosam minus molestiae aliquid officia voluptate, illum, ut nulla repudiandae architecto ab sapiente doloribus. Sapiente.</p>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img">
                        <img src="../../../assets/travel.jpg" class="img-responsive" />
                    </div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span class="small font-italic text-uppercase ">Cusine-4 </span>
                        </div>
                       
                        <div class="title-product font italic text-muted small">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, eligendi! Corrupti temporibus facilis placeat dolores, dolorem sequi necessitatibus porro enim consequuntur doloremque quis minima molestias repudiandae </p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <app-form></app-form>
    <br>
    <app-footer ></app-footer> 

   